<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>Тег SELECT</title>
   <style type="text/css">
   div {
   height: 200px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    }
    p select{
    float:left;
    }
    p input{
    float:right;
    }

  </style>
 </head>
 <body>
<div >
 <form action="handler.py" method="post">
 <p>
 <select>
  <option hidden>Selected Task</option>
  <option>CLEAR_DOWNLOADS</option>
  <option>ORDER_PIZZA</option>
</select>
 </p>
   <p><input type="submit" value="RUN"></p>
 </form>
</div>
 </body>
</html>